%p= "Dear #{@customer.username}"
/ %p= "You have been assigned to a request, please click below line to see the request detail and start process ASAP, thanks"
%p= "We already received your Claim issue on #{@service_request.created_at.to_s(:simple_date_en)}, Please be assured that we will help you as soon as possible."
