%p= "Dear #{@customer.username}"
%p= "You have a new Claim response please go below link to check the response, thanks for all your support."
%p.strong= link_to 'Claim', customer_service_request_url(@service_request)
