= render 'service_requests/index', service_requests: @service_requests, service_requests_mainly_response: nil, role: :admin
%p= link_to "Download PDF", admin_service_requests_path(service_request_ids: @service_request_ids, format: 'pdf')
